@model MegaHotel.ViewModels.OrderViewModel


    <div class="box">
        <h3>@Model.Rooms.Description</h3>
        <ul>
            <li>Room type: @Model.TypeRoom.RoomType</li>
            <li>This room is for @Model.CapacityRoom.GuestNumber guest(s)</li>
            <li><sup>$</sup>@Model.Rooms.Price <span>per night</span></li>
        </ul>

        <form action="/Order/NewOrder" method="post">
            <label for="start">Сheck-in date:</label>
            <input type="date" id="checkInDate" name="checkInDate"
                   value="2023-07-01"
                   min="2023-07-01" max="2023-08-30">
            

            <label for="start">Departure date:</label>
            <input type="date" id="departureDate" name="departureDate"
                   value="2023-07-01"
                   min="2023-07-02" max="2023-08-31">
            
        <div class="error-message">
                    @Html.ValidationMessageFor(model => model.ArrivaleDate)
                    @Html.ValidationMessageFor(model => model.DateOfDeparture)
        </div>

            <input type="hidden" id="roomID" name="roomID" value="@Model.Rooms.IDRoom" />

             <p><input class="dropbtn" type="submit" value="Book this room" /></p>
        </form>
    </div>
